<div class="row title-row text-center mb-5 mt-5">
    <div class="title">
        <h1>
            Burak Becerikli APP
        </h1>
    </div>
    <div class="content">
        <button class="btn custom-button" > 
            <i class="fas fa-search"></i>Arama Yap
        </button>
    </div>
</div>

<div class="row img-row">
    <img src="/assets/images/header.png" alt="" class="img-fluid">
</div>