<div class="home-bg">
    <img src="/assets/images/bg.jpg" alt="" >
</div>

<div class="row d-flex align-items-center justify-content-center" style="height: 60vh;">   
    <div class="content text-center mt-5 w-50">
        <div class="title">
            <h1>
                Aradığınız Bilgilere Kolayca Ulaşın
            </h1>
            <p>
                Aramalarınızı kolay bir şekilde yapın, verilerinizi güvenle saklayın.
            </p>
        </div>
    </div>
</div>
