<div class="table-container mt-5">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Kategori</th>
                <th>Adı</th>
                <th>Adres</th>
                <th>Telefon Nu.</th>
                <th>Websitesi</th>
                <th>Puan</th>
                <th>Link</th>
                <th>Tarih</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Kategori</th>
                <th>Adı</th>
                <th>Adres</th>
                <th>Telefon Nu.</th>
                <th>Websitesi</th>
                <th>Puan</th>
                <th>Link</th>
                <th>Tarih</th>
            </tr>
        </tfoot>
    </table>
</div>
<script>

    $('#example').DataTable({
        dom: 'lBfrtip',
        keys: 'true',
        colReorder: 'true',
        rowReoder: 'true',
        fixedHeader: 'true',
        language: {
            "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Turkish.json"
        },
        buttons: [
            'colvis',
            {
                extend: 'excel',
                customize: function (xlsx) {
                    var sheet = xlsx.xl.worksheets['sheet1.xml'];
                    $('row', sheet).each(function () {
                        var addressCell = $(this).find("address"); // Örnek olarak 'address' sütunu B sütununda bulunuyor
                        var originalAddress = addressCell.text();
                        addressCell.text(originalAddress);
                    });
                },
                exportOptions: {
                    format: {
                        body: function (data, row, column, node) {
                            if (column === 1) { // Örnek olarak 'address' sütunu 1. sütunda bulunuyor
                                if (data.length > 20) {
                                    return data;
                                }
                                return data.substr(0, 5) + '...' + data.substr(-10);
                            }
                            return data;
                        }
                    }
                },
                extend: 'excel',
                text: '<i class="fas fa-file-excel"></i>',
                exportOptions: {
                    columns: ':visible'
                },
            },
            {
                extend: 'print',
                text: '<i class="fas fa-file-pdf"></i>',
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                text: '<i class="fas fa-times-circle"></i>',
                action: function(e,dt,node,config){
                    if (confirm('Verileri silmek istiyor musunuz ?')){
                        $.ajax({
                            url: '/search/deleteAll',
                            success: function(response){
                                if (response.success){
                                    alert('Veriler başarıyle silindi.')
                                    dt.ajax.reload()
                                }
                            },
                            error: function(xhr,status,err){
                                alert('Veriler silinirken bir sorun meydana geld.')
                            }
                        })
                    }
                }
            },
            {
                text: '<i class="fas fa-sync-alt"></i>',
                action: function(e,dt,node,config){
                    dt.ajax.reload()
                }
            }
        ],
        initComplete: function(){

        },
        responsive: true,
        select:true,
        ajax: '/search/getAllData',
        columns: [
            {
                data:'category'
            },
            { data: 'name' },
            { 
                data: 'address', 
            },
            { 
                data: 'phone_number',
                render: function(data,type,row){
                    if (!data){
                        return '-'
                    }

                    return data
                }

            },
            { 
                data: 'website',
                render: function(data,type,row){
                    if (!data){
                        return '-'
                    }

                    return data
                }
                
            },
            {
                data: 'rate',
                render: function(data,type,row){
                    if (!data){
                        return 0
                    }
                    return String(data).replace('(', '').replace(')','')
                }
            },
            { 
                data: 'link',
                render: function(data,type,row){
                    if (type === 'display'){
                        if (data.length > 20){
                            return '<a href="#" class="link">' + data.substr(0, 20) + '...</a>';
                        }
                        return '<a href="#" class="link">' + data + '</a>';
                    }
                    return data
                }
            },
            {
                data: 'createdAt',
                render: function(data,type,row){
                    var formattedDate = moment(data).locale('tr').format('LLL');
                    return formattedDate
                }
            },
        ],
        rowCallback: function(row,data){
            var isOpened = false
            $(row).on('click', '.link', function(){
                window.open(data.link, '_blank');
            })
        },
    })
</script>