<div class="row d-flex justify-content-center mt-5">
    <div class="card w-50 shadow p-3 text-center">
        <div class="card-title">
            <h1>
                Arama Yap
            </h1>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="Aranacak Kelime">
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="city" id="" class="form-control">
                            <option value="all">Tüm Şehirler</option>
                            {{#each data}}
                            <option value="{{this.il_adi}}">{{this.il_adi}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <select name="district" id="" class="form-control">
                            <option value="">Tüm İlçeler</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupFile01">Kelime Listesi</label>
                        <input type="file" class="form-control" id="inputGroupFile01">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <button class="btn custom-button">
                        Arama Başlat
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $.ajax({
            url: '/search/countryData',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                var data = response.data
                $('select[name="city"]').change(function () {
                    var selectedCity = $(this).val();


                    if (selectedCity === 'all') {

                        $('select[name="district"]').val('');
                    } else {
                        var districtOptions = ''

                        for (const d of data) {
                            if (selectedCity === d.il_adi) {
                                for (const a of d.ilceler) {
                                    districtOptions += `<option value="${a.ilce_adi}">${a.ilce_adi}</option>`
                                }
                            }
                        }

                        $('select[name="district"]').html(districtOptions);
                    }
                });
            },
            error: function (xhr, status, error) {
                console.log('Country data error')
            }
        })
    });
</script>