<div class="row d-flex justify-content-center mt-5">
    <div class="card shadow p-3 text-center" id="responsiveDiv">
        <div class="card-title">
            <h1>
                Arama Yap
            </h1>
            

        </div>
        <div class="card-body">
            <form id="search_form">
                <div class="form-group mb-3">
                    <input type="text" id="input-tags" name="keywords" placeholder="Aranacak Kelimeler" />
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="city" id="" class="form-control">
                            <option value="all">Tüm Şehirler</option>
                            {{#each data}}
                            <option value="{{this.il_adi}}">{{this.il_adi}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col">
                        <select name="district" id="" class="form-control">
                            <option value="">Tüm İlçeler</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="button-group">
                        <button class="btn custom-button" id="search_button" type="submit">
                            Arama Başlat
                        </button>
                        <button class="btn border" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" id="task-button">
                            <i class="fas fa-tasks"></i>Aramalarım
                        </button>
                    </div>
                    <div class="spinner-border mb-4 mt-4" role="status">
                        <span class="visually-hidden">Yüklemiyor...</span>
                    </div>
                </div>
                <div class="form-group mb-3" id="estimated_time"></div>

            </form>
        </div>
    </div>
</div>
{{> task}}

<script>
    $(document).ready(function () {
        $('.spinner-border').hide()
        $("#input-tags").selectize({
            delimiter: ",",
            persist: false,
            create: function (input) {
                return {
                    value: input,
                    text: input,
                };
            },
        });
        $.ajax({
            url: '/search/countryData',
            method: 'GET',
            dataType: 'json',
            success: function (response) {
                var data = response.data
                $('select[name="city"]').change(function () {
                    var selectedCity = $(this).val();


                    if (selectedCity === 'all') {
                        $('select[name="district"]').html('<option value="all">Tüm İlçeler</option>');
                    } else {
                        var districtOptions = ''
                        districtOptions += '<option value="all">Tüm İlçeler</option>';
                        for (const d of data) {
                            if (selectedCity === d.il_adi) {
                                for (const a of d.ilceler) {
                                    districtOptions += `<option value="${a.ilce_adi}">${a.ilce_adi}</option>`
                                }
                            }
                        }

                        $('select[name="district"]').html(districtOptions);
                    }
                });
            }
        })

        // Post Operations

        $('#search_form').submit(function (e) {
            e.preventDefault();

            $('#search_button').hide();
            $('.spinner-border').show();
            var formData = $(this).serialize();

            var startTime = new Date().getTime(); // Get the start time in milliseconds

            var estimatedRemainingTimeDiv = $('#estimated_time');

            var updateEstimatedTime = function () {
                var currentTime = new Date().getTime();
                var elapsedTime = currentTime - startTime;
                var estimatedRemainingTime = (elapsedTime / 1000) * (totalItems - processedItems) / processedItems;

                estimatedRemainingTimeDiv.text('Estimated remaining time: ' + estimatedRemainingTime.toFixed(2) + ' seconds');
            };

            var updateInterval = setInterval(updateEstimatedTime, 1000);

            $.ajax({
                url: '/search',
                method: 'POST',
                data: formData,
                success: function (response) {
                    alert(`İşlem tamamlandı. Toplam sonuç: ${response.data.length}`)
                    clearInterval(updateInterval);
                    $('#search_button').show();
                    $('.spinner-border').hide();
                },
                error: function (xhr, status, error) {
                    $('#estimated_time').text('Bir sorun meydana geldi.').addClass('text-danger')
                },
                complete: function () {
                    clearInterval(updateInterval);
                    $('#search_form')[0].reset();
                    estimatedRemainingTimeDiv.text('');
                }
            });
        });

    
    });
</script>