<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Aramalarım</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table class="table" id="task-table">
            <thead>
                <tr>
                    <th scope="col">Adı</th>
                    <th scope="col">Durumu</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>