@media screen and (max-width: 768px) {
    .home-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        border: 1px solid black;
    }
  
    .home-bg img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
  }
  